.hidden{
    display: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color:#ffffff;
    color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ========================================================================================================================================================
common
======================================================================================================================================================== */



.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    

}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}

/* ========================================================================================================================================================
header
======================================================================================================================================================== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
    display: flex;
    justify-content: space-between;
}
.menu,
.address{
    display: none;
}
.page-logo {
    display: block;
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-black {
    color: #2e2f42;
}

.page-navigation {
    margin-right: auto;
}
.btn-burger{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-burger{
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px){
    .btn-burger{
        display: none;
    }
    .page-navigation {
        display: flex;   
        justify-content: space-between; 
        align-items: center;
    }
    .page-logo{
        margin-right: 120px;
        padding: 24px 0;
    }
    .menu {
        display: flex;
        gap: 40px;
    }
    .menu-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 500;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }
    .menu-link-studio{
        color: #404bbf;
    }
    .menu-link-studio::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    .page-address {
        display: block;
        font-style: normal;
    }
    .address {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;
    }
    .address-link {
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}
@media screen and (min-width: 1158px) {
    .page-logo{
        margin-right: 76px;
    }
    .address {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding-top: 16px;
    }
    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
  
    }
}
/* ========================================================================================================================================================
hero
======================================================================================================================================================== */
.section-hero{
    position: relative;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width:768px;
    margin-left: auto;
    margin-right: auto;
    padding:72px 0;
}
.hero-container{
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.section-hero-text{
    position: relative;
    font-size: 36px;
    line-height: 1.1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
    color: #ffffff;
}
.section-hero-button{
    position: relative;
    display:block;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    padding: 16px 32px;
    margin:0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero-button:hover,
.section-hero-button:focus{
    background: #404bbf;
}
@media screen and (min-width: 768px) {
    .section-hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tablet.jpg);
        max-width:1158px;
        padding:136px 0;
    }
    .hero-container{
        gap: 36px;
    }
    .section-hero-text{
        font-size: 56px;
        margin-bottom: 72px;
        max-width: 496px;
    }
}
@media screen and (min-width: 1158px) {
    .section-hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desktop.jpg);
        max-width:1440px;
        padding:188px 0;
    }
    .hero-container{
        gap: 48px;
    }
    .section-hero-text{
        margin-bottom: 48px;
        max-width: 496px;
    }
}
/* ========================================================================================================================================================
benefits
======================================================================================================================================================== */
.benefits-icons-board{
    display: none;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 96px 0;
}
.benefits-title{
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.text-benefits-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.text-benefits{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px) {
    .benefits-list{
        display:grid;
        grid-template-columns: 1fr 1fr; 
        list-style-type: none; 
        gap: 72px;
        padding: 0;
        padding: 96px 0;
    }
    .text-benefits-title{
        display: flex;
        justify-content: flex-start;

    }
}
@media screen and (min-width: 1158px) {
    .benefits-list{
        display:flex;
        flex-direction: row;
        gap: 24px;
    }
    .benefits-title{
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
    }
    .text-benefits-title{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 500;
        margin-bottom: 8px;
    }
    .benefits-item{
        width: calc((100% - 72px) / 4);
        margin-bottom: 8px;
    }
    .text-benefits{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .benefits-icons-board{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
        padding: 32px 16px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
    }
}
/* ========================================================================================================================================================
team
======================================================================================================================================================== */


.section-team{
    background: #f4f4fd;
}
.team-title{
    min-width:162px;
    padding-top: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-list{
    display:block;
    gap:72px;
    padding: 0 16px 72px 0;
    border-radius: 0 0 4px 4px;

}
.team-item{
    background-color: #FFFFFF;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    margin-bottom: 72px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.text-team-title{
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em; 
    text-align: center;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}
.text-team{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    text-align: center;
    color: #434455;  
    margin-bottom: 8px;
}
.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.social-list-item{
    width:40px;
    height:40px;
}
.social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
    width: 16px; 
    height: 16px; 
    fill: #f4f4fd;
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: #404bbf;
}